<header>
  <nav>
    <ul>
      <li><a href="/" class="nav-link">Usuários</a></li>
      <li><a href="/tasks" class="nav-link">Tarefas</a></li>
      <li><a href="/categories" class="nav-link">Categorias</a></li>
      <li><a href="/origins" class="nav-link">Origens</a></li>
      <li><a href="/agenda" class="nav-link">Agenda</a></li>
    </ul>
  </nav>
</header> 